#home {
  position: fixed;
  top: 0;
  left: 0;
  padding: 100px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.custom-modal {
  display: none;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  z-index: 9999;

  backdrop-filter: blur(5px);
}

.modal-content {
  background-color: #040614;
  padding: 120px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(52, 52, 52, 0.5);

  position: relative;
  width: 95%;
  min-height: 90%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  animation: modalFadeIn 0.3s ease forwards;
}

.modal-logo {
  max-width: 40%;
  height: auto;
}

.modal-content h1 {
  color: #1e025b;
  margin-bottom: 10px;
  font-size: 2.5em; /* Tamaño de la fuente predeterminado */
}

.modal-content p {
  margin: 0;
  font-size: 1.3em;
  max-width: 80%;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #888; /* Cambiar color del icono de cerrar */
  transition: color 0.3s ease; /* Agregar transición de color */
}

.close-btn:hover {
  color: #000; /* Cambiar color al pasar el mouse */
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Nuevas reglas para la animación de desvanecimiento */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.5s;
}
