#sam-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 50px;
  height: 100%;
}

.toggle-sam-btn {
  border-radius: 8px;
  padding: 0.55rem;
  font-size: 13px;
  font-weight: 500;
  font-family: inherit;
  background-color: #041c4a;
  cursor: pointer;
  color: #348cfd;
  text-align: left;
  width: 100%;
  box-sizing: border-box; /* Asegurar que el tamaño total incluya el padding y el borde */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exit-sam-btn {
  border: 3px solid red;
}
