#image-container {
  width: 75%;
  /* rgb(0, 68, 68); */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(94, 94, 94, 0.5);
}

#loaded_image {
  width: 57%;
  height: auto;
  position: absolute;
  max-width: 100%;
  display: block;
}

#captured_canvas {
  z-index: 11;
  width: 100%;
  height: auto;
  max-height: 100%;
}

#canvas {
  width: 100%;
  height: auto;
  max-height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#load_image {
  color: white;
}
