#options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
  height: 100%;
  padding-top: 20px;
}

.option {
  border-radius: 8px;
  border: 4px solid transparent;
  font-size: 13px;
  font-weight: 500;
  font-family: inherit;
  background-color: #041c4a;
  cursor: pointer;
  color: #348cfd;

  width: 80%;
  min-width: 10em;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.8em 0.8em; /* Ajustar el padding para compensar el aumento del tamaño debido al borde */
  box-sizing: border-box; /* Asegurar que el tamaño total incluya el padding y el borde */
  transition:
    border-color 0.25s,
    transform 0.1s; /* Añadir transición para el borde y la transformación */
  transform-origin: center; /* Establecer el origen de la transformación en el centro */
}

.option-icon {
  width: 1.3rem;
  height: 1.3rem;
}

.option:hover {
  border: 4px solid #348cfd;
}

@media (prefers-color-scheme: light) {
  .option {
    background-color: #f9f9f9;
  }
}

.active {
  border: 4px solid #348cfd;
  transform: scale(1.05); /* Ajustar la escala al seleccionar */
}

.end-options {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  height: 20%;
}

#configuration-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #041c4a; /* Cambia este color al color de fondo de tu aplicación */
  border-radius: 10px;
}

.sam-model-container,
.box-color-container,
.points-radius-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sam-model-container label,
.box-color-container label,
.points-radius-container label {
  font-size: 16px;
  color: #348cfd; /* Cambia este color al color de texto de tu aplicación */
}

.sam-model-container select,
.box-color-container input,
.points-radius-container input {
  padding: 10px;
  border: 1px solid #348cfd; /* Cambia este color al color de borde de tu aplicación */
  border-radius: 5px;
}

.toggle-mask-div {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

.toggle-mask-btn {
  width: fit-content !important;

  min-width: auto;
}

.advanced-config {
  background-color: #040514;
  color: white;
  border: 3px solid #348cfd;
}
